@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-item: #;
  --blue-item_active: ;
  --text-ill: #202124;
  --text-gray: #616161;
  --bg-color: #F5F5F5;
}

.shadow-header{
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
}
